body {
    background: linear-gradient(48deg, rgba(63,94,251,1) 0%, rgba(102,252,70,1) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}